{{! 1 # Citation For The Following Function:
2 # Date:06/05/2025
3 # Copied from
4 # Based on the class starter code given
5 # SourceURL:https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948
*/}}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CS340 - My Project</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        Navigation:
        <a href="/">Home</a>
        <a href="/products">Products</a>
        <a href="/sales">Sales</a>
        <a href="/customers">Customers</a>
        <a href="/vendors">Vendors</a>
        <a href="/addresses">Addresses</a>
        <a href="/producttypes">Product Types</a>
        <a href="/productbrands">Product Brands</a>
        <a href="/producthassales">Product Has Sales</a>
        <a href="/reset-database" id="reset-db-link">Reset Database</a>
    </nav>

    {{{body}}}

</body>
</html>