<h1>Home page</h1>
<div class="homepageDescription">
    <p>Team Rocket Database Managment System created by Joven Kvortek and Thayer Marvin.</p>
    <p>Welcome to the Team Rocket's Database Management System. This website serves as the backend tool that powers our operations, handling all the database needs from customer management to tracking sales to managing our inventory this website is a one stop shop to handle all of our business needs.</p>
</div>